@model IEnumerable<u19074362_HW5_2._5.Models.issuebook>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.m_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.issuedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.returndate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.m_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.issuedate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.returndate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
